

.H-button{
    height:50px;
    width:150px;
}

.Hm-about{
    margin-top: 80px;
    font-size:32px;
    display: flex;
    flex-direction: row;
    width:100%;
}
.Hm-about-content{
    width: 50% !important;
}
.H-content{
    +6display: flex;
    flex-direction: row;
    background-color: #1f2937;
    height:60vh;
    width: 100vw;
}
.wrapper{
    display: flex;
}
.wrapper div{
    width:25%;
    height:400px;
    background-color: lightgray;
    margin:10px;
}
.Hm-content{
    margin-top: 70px;
    
    width:90vh;
    color:white;
}
.H-image{
    height:200px;
    width: 100%;
}
.Hm-heading{
    font-size: 64px;

    }
.Hm-p{
    margin-top: 70px;
    font-size: 40px;
}

/* 
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav .logo {
    font-size: 24px;
    color: #f9faf8;
}

nav .navbar ul {
    display: flex;
    list-style: none;
}

nav .navbar ul li {
    margin-right: 15px;
}

nav .navbar ul li:last-child {
    margin-right: 0;
}

nav .navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

* End Navbar * */

.header {
    border: 1px solid black;   
    margin-right: auto; 
}