
.H-button{
    height:50px;
    width:150px;
    overflow-y: hidden;
}

.Hm-about{
    margin-top: 80px;
    font-size:32px;
    display: flex;
    flex-direction: row;
    width:100%;
    overflow-y: hidden;
}
.Hm-about-content{
    width: 50% !important;
    overflow-y: hidden;
}
.H-content{
    display: flex;
    flex-direction: row;
    background-color: #080031;
    height:60vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.wrapper{
    display: flex;
    overflow-y: hidden;
}
.wrapper div{
    width:25%;
    height:400px;
    background-color: lightgray;
    margin:10px;
    overflow-y: hidden;
}
.Hm-content{
    margin-top: 70px;
    overflow-y: hidden;
    
    text-align:left !important;
    color:white;
    padding-left: 50px;
}
.H-image{
    height:200px;
    width: 100%;
    overflow-y: hidden;
}
.Hm-heading{
    font-size: 64px;
    overflow-y: hidden !important;

    }
.Hm-p{
    margin-top: 70px;
    font-size: 40px;
    overflow-y: hidden;
}
.containeruse{
    overflow-x: hidden !important;
}

/* 
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav .logo {
    font-size: 24px;
    color: #f9faf8;
}

nav .navbar ul {
    display: flex;
    list-style: none;
}

nav .navbar ul li {
    margin-right: 15px;
}

nav .navbar ul li:last-child {
    margin-right: 0;
}

nav .navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

* End Navbar * */



.signUp-btn2 {
    background-color: #137000;
    color: white;
    border-color: white;
    transition: all 0.5s ease-in;
    border-radius: 999px;
    width: 150px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.signUp-btn2:hover {
    color: white;
    background-color: #1ca101;
}
.signUp-btn2:focus {
    color: white;
    background-color: #137000;

}