.c-container{
    height:100vh;
    width:30vh;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display:flex;
    
}
.p-container{
    height:40vh;
    border: 1px solid #000000;

    box-sizing: border-box;

}

.passenger {
    height: 100vh;
    /* background-color: #000000; */
}